.cart{
    background-color: #fff;
    border-radius: 7px !important;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1) !important;
    margin-left: 10px !important;

}
.carth3{
    margin-bottom: 20px;
    font-weight: bold;
}
.remove{
    color: #777 !important;
    font-size: 17px !important;
    transition: all 0.2s !important;

}
.remove:hover{
    color: red !important;
    cursor: pointer;
    transition: all 0.5s !important;
    
}
.brdrmainrl{
    border: 1px solid rgba(0,0,0,0.1) !important;
    padding: 8px;
    transition: all 0.5s !important;

}
.brdrmainrl:hover{
    background-color: #0AAD0A !important;
    color: #fff !important;
    transition: all 0.5s !important;

}
.brdcount{
    border: 1px solid rgba(0,0,0,0.1) !important;
    padding: 8px 10px !important;
}
.butoncoupon{
    color: #fff !important; 
    padding: 10px !important;
}
.inputcoupon{
    padding: 10px !important;
}
.containerwidth{
    width: 95% !important;
    margin: auto !important;
}
.colorPrice{
    color: #777777 !important;
}



@media screen and (max-width:568px){
    /*Start section 1*/
    .cart{
        margin-top: 100px !important;
        margin-left: 0px !important;

    }
    .imgMedia{
        width: 60px !important;
        background-color: #0AAD0A !important;
        padding: 0 !important;
    }
    .counters{
        display: flex;
        align-items: center;
    }
    .imgMedia img{
       width: 100% !important;
    }
    .controlMeia{
        width: 80% !important;
    }
    .carth6{
        font-size: 16px !important;
    }
    .upremove{
        position: relative !important;
    }
    .remove{
        position: absolute !important;
        top: 0 !important;
        right: 0 !important;
    }
   
    
    
  
    
  }
  @media screen and (min-width:569px) and (max-width:768px){
      
    /*Start section 1*/
    
    .cart{
        margin-top: 100px !important;
    }
    .imgMedia{
        width: 100px !important;
    }
    .imgMedia img{
       width: 100% !important;
    }
    .controlMeia{
        width: 80% !important;
    }
    .upremove{
        position: relative !important;
    }
    .remove{
        position: absolute !important;
        top: 0 !important;
        right: 0 !important;
    }
    .colrrow{
        
    }
    
  }
  
  
  @media screen and (min-width:769px) and (max-width:992px){
      
    /*Start section 1*/
    
    .cart{
        margin-top: 100px !important;
        width: 100% !important;
        margin-left: 40px !important;
    }
    .imgMedia{
        width: 100px !important;
    }
    .imgMedia img{
       width: 100% !important;
    }
    .controlMeia{
        width: 70% !important;
    }
    
    
}
