.body{
    width: 95% !important;
    margin-left: 70px !important;
}


@media screen and (max-width:568px){
    /*Start section 1*/
  
    .body{
        width: 100%;
        margin-left: 0px !important;
        margin: auto !important;
    }
  }
  @media screen and (min-width:569px) and (max-width:768px){
      
    /*Start section 1*/
    .body{
        width: 100%;
        margin-left: 0px !important;
        margin: auto !important;

    }
   
  }
  
  @media screen and (min-width:769px) and (max-width:992px){
      
    /*Start section 1*/
    .body{
        width: 100%;
        margin-left: 0px !important;
        margin: auto !important;

    }
  }