.cart{
    background-color: #fff;
    border-radius: 7px !important;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1) !important;
}
.carth3{
    margin-bottom: 20px;
    font-weight: bold;
}
.remove{
    color: #777 !important;
    font-size: 17px !important;
    transition: all 0.2s !important;

}
.remove:hover{
    color: red !important;
    cursor: pointer;
    transition: all 0.5s !important;
    
}
.brdrmainrl{
    border: 1px solid rgba(0,0,0,0.1) !important;
    padding: 8px;
    transition: all 0.5s !important;

}
.brdrmainrl:hover{
    background-color: #0AAD0A !important;
    color: #fff !important;
    transition: all 0.5s !important;

}
.brdcount{
    border: 1px solid rgba(0,0,0,0.1) !important;
    padding: 8px 10px !important;
}


