/* .allSmallPhoto{
    box-shadow:10px 10px 10px rgba(0,0,0,0.5);
    transition: all 1s ;
    overflow: hidden;
    border: #00ADB5 1.5px solid;
}

.smallSlider:hover{
    transform: scale(1.3);
    transition: all 1s !important;

} */



@media screen and (max-width:568px){
    /*Start section 1*/
    .bigSlider{
        margin-bottom: 50px !important;
    }
    .smallSlider{
        margin-bottom: 50px !important;
    }

    
}
 
@media screen and (min-width:569px) and (max-width:768px){
    
    /*Start section 1*/
    .bigSlider{
        margin-bottom: 50px !important;
    }
    .smallSlider{
        margin-bottom: 50px !important;
    }
   
}

@media screen and (min-width:769px) and (max-width:992px){
    
    /*Start section 1*/
    /* .bigSlider{
        margin-bottom: 50px !important;
    } */
    /* .smallSlider{
        margin-bottom: 50px !important;
    } */
 }
 